﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Company</title>
        <link rel="stylesheet" href="https://unpkg.com/picnic@6.5.1/picnic.min.css" media="all">
    </head>
    <body>
        <section class="flex three">
            <div class="card two-third">
                <h1>{{company}}</h1>
                <h2>{{catchPhrase}}</h2>
                <div class="card">
                    <p>At {{company}}, we create {{productAjective}} {{product}} made of {{productMaterial}}.</p>
                    <p>Find out more at {{url}}</p>
                </div>
                <article class="card">
                    <img src="{{productImage}}" alt="product image">
                    <footer>
                        <h3>{{product}}</h3>
                        <ul>
                            <li>Material : {{productMaterial}}</li>
                            <li>Color : {{colorName}}</li>
                        </ul>
                        <p><em>{{price}}$ only!</em></p>
                        <button>Take my money</button>
                    </footer>
                </article>
            </div>
            <div class="card">
                <div class="card">
                    <figure>
                        <img src="{{userImage}}" alt="user image">
                        <h3>{{userName}}</h3>
                        <figcaption>{{job}}</figcaption>
                    </figure>
                    <div class="card">
                        <h3>Contact info</h3>
                        <ul>
                            <li>{{email}}</li>
                            <li>{{phoneNumber}}</li>
                            <li>{{address}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
